<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="description" content="Plus de 10000 offres d'emploi informatique et freelances. Remixjobs sp&eacute;cialiste du recrutement informatique : consultant ing&eacute;nieur d&eacute;veloppeur designer int&eacute;grateur chef de projet ..." />
<meta name="apple-itunes-app" content="app-id=588567446, affiliate-data=none, app-argument=https://remixjobs.com/" />
<meta property="fb:app_id" content="362189248342" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="remixjobs" />
<meta property="og:url" content="https://remixjobs.com/" />
<meta property="og:title" content="Emploi informatique et recrutement freelance - RemixJobs" />
<meta property="og:description" content="Plus de 10000 offres d'emploi informatique et freelances. Remixjobs sp&eacute;cialiste du recrutement informatique : consultant ing&eacute;nieur d&eacute;veloppeur designer int&eacute;grateur chef de projet ..." />
<meta property="og:image" content="https://remixjobs.com/images/press/logos/logo2-450-140.png" />
<meta itemprop="name" content="remixjobs" />
<meta itemprop="description" content="Plus de 10000 offres d'emploi informatique et freelances. Remixjobs sp&eacute;cialiste du recrutement informatique : consultant ing&eacute;nieur d&eacute;veloppeur designer int&eacute;grateur chef de projet ..." />
<meta itemprop="image" content="https://remixjobs.com/images/press/logos/logo2-450-140.png" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@remixjobs" />
<meta name="twitter:title" content="Emploi informatique et recrutement freelance - RemixJobs" />
<meta name="twitter:description" content="Plus de 10000 offres d'emploi informatique et freelances. Remixjobs sp&eacute;cialiste du recrutement informatique : consultant ing&eacute;nieur d&eacute;veloppeur designer int&eacute;grateur chef de projet ..." />
<meta name="twitter:image" content="https://remixjobs.com/images/press/logos/logo2-450-140.png" />
<meta name="Language" content="fr" />
<title>
Cr&eacute;er une annonce sur Remixjobs    </title>
<link href="https://d20j79yoy9sq5.cloudfront.net/assets/0/css/7b944ec.css?0" rel="stylesheet" />
<link href="https://d20j79yoy9sq5.cloudfront.net/assets/0/css/43e5d30.css?0" rel="stylesheet" />
<link rel="stylesheet" href="https://d20j79yoy9sq5.cloudfront.net/assets/0/css/90cb683.css?0" />
<link rel="alternate" type="application/rss+xml" title="'layout.remixjobs.title'|trans" href="http://feeds.feedburner.com/Remixjobs" />
<!--[if lt IE 9]>
<script src="https://d20j79yoy9sq5.cloudfront.net/assets/0/js/0ed8706.js?0"></script>
<![endif]-->
<link rel="icon" href="https://d20j79yoy9sq5.cloudfront.net/assets/0/themed/blue/images/favicon-remixjobs.ico" type="image/x-icon" />
</head>
<body class="adwizard">
<header class="site-header-grey">
<div class="wrapper">
<a class="logo" href="/jobs"> <img src="https://d20j79yoy9sq5.cloudfront.net/assets/0/themed/blue/images/logo-remixjobs_grey.png" alt="remixjobs" /> </a>
</div>
</header>
<section id="content" class="employer-profile">
<div class="step-wrapper">
<ul class="breadcrumb">
<li class="active step-employer-profile"> Cr&eacute;er mon annonce </li></ul>

<div class="step-desc">
Cr&eacute;er mon annonce
</div>
</div>
<div class="wrapper special">
<div class="left-column">
<form action="/jobs/creation" method="post">
<fieldset class="std-form-elements">
<div class="form-row siret">
<label class="form-label">SIRET</label>
<div class="form-element">
<div class="input-wrapper input input-text">
<input type="text" id="employer-profile_employer_siretNumber" name="employer-profile[employer][siretNumber]" class="form-input-text" placeholder="" asdasd="" />
</div>
</div>
<div class="siret-warning">
Le SIRET est v&eacute;rifi&eacute; par notre &eacute;quipe de mod&eacute;ration avant publication. La soci&eacute;t&eacute; doit correspondre &agrave; l’offre et avoir moins de trois ans d’existence.
</div>
</div>
<h2> Informations sur le poste</h2>
<div class="form-row">
<label pattern=".{5,}" class="form-label required">Nom du poste&nbsp;<span class="mandatory-marker">*</span></label>
<div class="form-element">
<div class="input-wrapper input input-text">
<input type="text" id="employer-profile_job_title" name="job[title]" required="required" pattern=".{5,}" class="form-input-text" placeholder="" asdasd="" />
</div>
</div>
</div>
<div class="clearfix">
<div class="form-row half-row job_contract_type">
<label class="form-label required">Type de contrat&nbsp;<span class="mandatory-marker">*</span></label>
<div id="employer-profile_job_job_contract_type" class="form-element ">
<div class="input-wrapper select ">
<span class="fselectmenu-style-default fselectmenu fselectmenu-events fselectmenu-value-" tabindex="0" id="employer-profile_job_job_contract_type_html"><select class=" fselectmenu-native" id="employer-profile_job_job_contract_type" name="job[contract]"><option value="1" class="fselectmenu-value-1">CDI</option><option value="2" class="fselectmenu-value-2">CDD</option><option value="3" class="fselectmenu-value-3">Freelance</option><option value="4" class="fselectmenu-value-4">Contrat pro</option><option value="5" class="fselectmenu-value-5">Stage</option><option value="6" class="fselectmenu-value-6">Int&eacute;rim</option><option value="7" class="fselectmenu-value-7">Alternance</option></select><span class="fselectmenu-label-wrapper"><span class="fselectmenu-label">CDI</span><span class="fselectmenu-icon"></span></span><span class=" fselectmenu-options-wrapper fselectmenu-events fselectmenu-value-" id="employer-profile_job_job_contract_type_options"><span class="fselectmenu-options"><span data-value="1" data-label="CDI" class="fselectmenu-option fselectmenu-value-1">CDI</span><span data-value="2" data-label="CDD" class="fselectmenu-option fselectmenu-value-2">CDD</span><span data-value="3" data-label="Freelance" class="fselectmenu-option fselectmenu-value-3">Freelance</span><span data-value="4" data-label="Contrat pro" class="fselectmenu-option fselectmenu-value-4">Contrat pro</span><span data-value="5" data-label="Stage" class="fselectmenu-option fselectmenu-value-5">Stage</span><span data-value="6" data-label="Int&eacute;rim" class="fselectmenu-option fselectmenu-value-6">Int&eacute;rim</span><span data-value="7" data-label="Alternance" class="fselectmenu-option fselectmenu-value-7">Alternance</span></span></span></span>
</div>
</div>
</div>
<div class="form-row half-row categories">
<label class="form-label required">Cat&eacute;gories&nbsp;<span class="mandatory-marker">*</span></label>
<div id="employer-profile_job_categories" class="form-element ">
<div class="input-wrapper select ">
<span class="fselectmenu-style-default fselectmenu fselectmenu-events fselectmenu-value-" tabindex="0" id="employer-profile_job_categories_html"><select class=" fselectmenu-native" id="employer-profile_job_categories" name="job[category]"><option value="0" class="fselectmenu-value-0">Design</option><option value="1" class="fselectmenu-value-1">D&eacute;veloppement</option><option value="2" class="fselectmenu-value-2">Marketing</option><option value="3" class="fselectmenu-value-3">R&eacute;seau</option><option value="4" class="fselectmenu-value-4">Projets</option><option value="5" class="fselectmenu-value-5">Seo</option><option value="6" class="fselectmenu-value-6">Autres</option></select><span class="fselectmenu-label-wrapper"><span class="fselectmenu-label">Design</span><span class="fselectmenu-icon"></span></span><span class=" fselectmenu-options-wrapper fselectmenu-events fselectmenu-value-" id="employer-profile_job_categories_options"><span class="fselectmenu-options"><span data-value="0" data-label="Design" class="fselectmenu-option fselectmenu-value-0">Design</span><span data-value="1" data-label="D&eacute;veloppement" class="fselectmenu-option fselectmenu-value-1">D&eacute;veloppement</span><span data-value="2" data-label="Marketing" class="fselectmenu-option fselectmenu-value-2">Marketing</span><span data-value="3" data-label="R&eacute;seau" class="fselectmenu-option fselectmenu-value-3">R&eacute;seau</span><span data-value="4" data-label="Projets" class="fselectmenu-option fselectmenu-value-4">Projets</span><span data-value="5" data-label="Seo" class="fselectmenu-option fselectmenu-value-5">Seo</span><span data-value="6" data-label="Autres" class="fselectmenu-option fselectmenu-value-6">Autres</span></span></span></span>
</div>
</div>
</div>
</div>
<div class="clearfix">
<div class="form-row half-row internship_duration">
<label min="3" class="form-label">Dur&eacute;e du stage, en mois</label>
<div class="form-element">
<div class="input-wrapper input input-number">
<input type="number" id="employer-profile_job_internshipDuration" name="employer-profile[job][internshipDuration]" min="3" class="form-input-text" placeholder="" value="3" asdasd="" />
</div>
</div>
</div>
</div>

<div class="form-row">
<label maxlength="255" class="form-label required">Soci&eacute;t&eacute;&nbsp;<span class="mandatory-marker">*</span></label>
<div class="form-element">
<div class="input-wrapper input input-text">
<input type="text" id="employer-profile_job_zipCode" name="job[company]" required="required" maxlength="255" class="form-input-text" placeholder="" asdasd="" />
</div>
</div>
</div>

<div class="form-row">
<label maxlength="255" class="form-label required">Ville&nbsp;<span class="mandatory-marker">*</span></label>
<div class="form-element">
<div class="input-wrapper input input-text">
<input type="text" id="employer-profile_job_city" name="job[localization]" required="required" maxlength="255" class="form-input-text" placeholder="" asdasd="" />
</div>
</div>
</div>

<div class="form-row description">
<label class="form-label required">Description du poste&nbsp;<span class="mandatory-marker">*</span></label>
<div class="form-element description-buttons-block">
<a class="description-button title"> <span class="title">h1</span> </a>
<a class="description-button bold"> <span class="bold">Gras</span> </a>
<a class="description-button italic"> <span class="italic">Italique</span> </a>
<a class="description-button list"> <span class="list">Liste</span> </a>
</div>
<div class="form-element">
<div class="input-wrapper textarea ">
<textarea id="employer-profile_job_jobDescription" name="job[description]" required="required" class="form-input-textarea"></textarea>
</div>
</div>
</div>

<div class="form-row tags">
<label class="form-label">Comp&eacute;tences</label>
<div class="form-element">
<div class="input-wrapper input input-text">
<input type="text" id="employer-profile_job_tags" name="job[tags]" class="form-input-text has-placeholder" asdasd="" />
<label class="form-placeholder" for="employer-profile_job_tags">5 comp&eacute;tences maximum</label>
</div>
</div>

<div class="form-element sub-element tag-list-example">
<span> Exemples: </span>
<span class="tag-example"> <span class="tagit-label"> ruby-on-rails </span> <a href="#" class="tagit-close"> <span class="text-icon"> x </span> <span class="ui-icon ui-icon-close"></span> </a> </span>
<span class="tag-example"> <span class="tagit-label"> photoshop </span> <a href="#" class="tagit-close"> <span class="text-icon"> x </span> <span class="ui-icon ui-icon-close"></span> </a> </span>
<span class="tag-example"> <span class="tagit-label"> seo </span> <a href="#" class="tagit-close"> <span class="text-icon"> x </span> <span class="ui-icon ui-icon-close"></span> </a> </span>
</div>
</div>

</fieldset>
</br>
<div class="actions fl-right">
<span><input type="submit" class="btn-blue submit" formnovalidate="formnovalidate" value="Valide mon offre" /></span>
</div>
<div class="clear"></div>
</form>
</div>
<aside>
<div class="jobboard-benefits">
<h3> Pourquoi poster sur RemixJobs ? </h3>
<div class="jobbard-benefits-content">
<p>Au mois de janvier 2015 nous comptions plus de <strong>110,000 profils disponibles</strong>.</p>
<p><strong>34791</strong> sont &agrave; la recherche active d'un emploi et <strong>2623</strong> ont &eacute;t&eacute; cr&eacute;&eacute;s ces 30 derniers jours.</p>
<p>Les annonces post&eacute;es sur RemixJobs sont &eacute;galement diffus&eacute;es chez <strong>Korben</strong> et <strong>Presse-Citron</strong> pour un maximum de visibilit&eacute; !</p>
<p><strong>Vous souhaitez poster plusieurs offres ?</strong><br /><a href="/contact" target="_blank">Contactez-nous</a> en direct et b&eacute;n&eacute;ficiez de tarifs pr&eacute;f&eacute;rentiels.</p>
</div>
</div>
</aside>
</div>
</section>
<noscript>
<div class="no-script-header">
RemixJobs fonctionne mieux avec le Javascript activ&eacute;
</div>
</noscript>
<script type="text/javascript">
//<![CDATA[
var require= {"baseUrl":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/scripts\/modules\/","cacheVersion":0,"urlArgs":"v=0","waitSeconds":30,"paths":{"core":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/core\/js","employer":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/employer\/js","admin":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/admin\/js","jobseeker":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/nonemployer\/js","payment":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/payment\/js","media":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/media\/js","fselectmenu":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/fselectmenu\/js\/modules","affiliate":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/affiliate\/js","rjcvclient":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/rjcvclient\/js","rjmap":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/rjmap\/js","fpswfupload":"https:\/\/d20j79yoy9sq5.cloudfront.net\/assets\/0\/bundles\/fpswfupload\/js\/swfupload"}};
var CACHE_VER = require.cacheVersion;

//]]>
</script>
<script src="https://d20j79yoy9sq5.cloudfront.net/assets/0/js/573933b.js?0"></script>
<script type="text/javascript">
//<![CDATA[
require(['affiliate/referrer'], function(r) {
r.init();
});

define("jquery", function() {
return jQuery;
});

//]]>
</script>
<script type="text/javascript">
//<![CDATA[
require(['employer/adwizard/profile'], function() {});
$( document ).ready(function() {
function handleIntershipDurationField()
{
if(5 == $('#employer-profile_job_job_contract_type :selected').val()){
$('.internship_duration').show();
} else {
$('.internship_duration').hide();
}
}

$('#employer-profile_job_job_contract_type').change(function(){
handleIntershipDurationField();
});

handleIntershipDurationField();
});
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
var requireMedia = require.config({
context: 'uploadMedia',
baseUrl: '/bundles/media/js/upload/'
});

require(["jquery", "jquery.ui.progressbar"], function($) {
requireMedia(["jquery.ui.widget", "jquery.iframe-transport"], function() {
requireMedia(["jquery.fileupload"], function() {
requireMedia(["jquery.fileupload-validate"], function(){

$('#logo-input').fileupload({
acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
maxFileSize: 3000000,
url: 'https://remixjobs.com/media/adwizard/logo/upload?storageId=61nM1TmhoT1Ns56lIyjT63xN3vD1QOSn',
messages: {
acceptFileTypes: "Veuillez utiliser une image au format .gif, .jpg ou .png",
maxFileSize: "Votre fichier est trop lourd (max. 3Mo)",
},
start: function() {
$('.image-upload-button').hide();
$('.uploadContainer, #progressBar').show();
$('#imagePlaceholder .hide').css('display', '');
$("#progressBar").progressbar({ value: 0});
$("#percent").html("0 %");
},
progress: function(e, data) {
var progress = parseInt(data.loaded / data.total * 100, 10);
progress = progress > 100 ? 100 : progress;
$("#progressBar").progressbar({ value: progress });
$("#percent").html( progress + " %");
},
done: function(err, data) {
if(data.result.success && data.result.imageUrl) {
$('.image-upload-button img, #imagePlaceholder img').attr('src', data.result.imageUrl);
$('#imagePlaceholder img').show();
$('#imagePlaceholder .empty').hide();

require(["flashMessages"], function(flash){
flash.show("Votre photo a été mise à jour.", 'valid');
});

$('#progressBar, #percent').fadeOut(function(){
$('#success').fadeIn(function(){
setTimeout(function() {
$('#success').fadeOut('normal', function(){
backToUpload();
});
}, 2000);
});
});

} else if(data.result.errors && $.isArray(data.result.errors)) {
require(['flashMessages'], function(flash) {
flash.show(data.result.errors.join(' '), 'error');
});

$('#progressBar, #percent').fadeOut(function(){
backToUpload();
});

} else {
require(["flashMessages"], function(flash){
flash.show("Votre photo a été mise à jour. Veuillez rafraîchir la page.", 'valid');
});

$('#progressBar, #percent').fadeOut(function(){
$('#success').fadeIn(function(){
setTimeout(function() {
$('#success').fadeOut('normal', function(){
$('.uploadContainer, #imagePlaceholder img').hide();
$('#imagePlaceholder .empty, #percent').show();
$('.image-upload-button, .image-upload-button .empty').show();
$('.image-upload-button img').hide();
});
}, 2000);
});
});

}

function backToUpload() {
$('.uploadContainer, #imagePlaceholder img').hide();
$('#imagePlaceholder .empty, #percent').show();
$('.image-upload-button, .image-upload-button img').show();
}

},
processalways: function(err, data) {
var currentFile = data.files[data.index];
if (data.files.error && currentFile.error) {
require(['flashMessages'], function(flash) {
flash.show(currentFile.error, 'error');
});
}
},
fail: function() {
require(["flashMessages"], function(flash){
flash.show("Un problème est survenu, veuillez réessayer.", 'error');
});
}
});

});});});});
//]]>
</script>
<script type="text/javascript">
if (AntiMattr == null || typeof(AntiMattr) != 'object') { var AntiMattr = window.AntiMattr = {}; }
AntiMattr.GoogleAnalytics = {};

AntiMattr.GoogleAnalytics.onGatLoad = function(callback) {
if (typeof _gat != "undefined") {
callback();
} else {
var listener = this;
setTimeout(function(){
listener.onGatLoad(callback);
},100);
}
};

AntiMattr.GoogleAnalytics.notifyEvent = function(tracker, category, action, label, value) {
var event = [tracker + '_trackEvent', category, action];
if (typeof label != 'undefined') {
event.push(label);
if (typeof value != 'undefined') {
event.push(value);
}
}
_gaq.push(event);
};

if ( _gaq == null || typeof(_gaq) != 'array') { var _gaq = window._gaq = []; }

_gaq.push(['googleanalytics._setAccount', 'UA-9504700-1']);

_gaq.push(['googleanalytics._setDomainName', 'remixjobs.com']);

_gaq.push(['googleanalytics._setAllowAnchor', false ]);

_gaq.push(['googleanalytics._setAllowLinker', true ]);

_gaq.push(['googleanalytics._setAllowHash', false ]);




if (window.location.hash) {
_gaq.push(['googleanalytics._trackPageview', "\/recrutement-informatique\/poster-une-offre?utm_source=remixjobs.com&utm_medium=nos_offres&utm_campaign=remixjobs&storageId=61nM1TmhoT1Ns56lIyjT63xN3vD1QOSn" + window.location.hash]);
} else {
_gaq.push(['googleanalytics._trackPageview', "\/recrutement-informatique\/poster-une-offre?utm_source=remixjobs.com&utm_medium=nos_offres&utm_campaign=remixjobs&storageId=61nM1TmhoT1Ns56lIyjT63xN3vD1QOSn"]);
}




(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>